<div class="box mb-2 p-3 shadow-sm" style="border-left: 4px solid #00d1b2;">
  <div class="is-flex is-justify-content-between is-align-items-center">
    <div>
      <h4 class="title is-6 mb-1"><%= exercise.name %></h4>
      <p class="subtitle is-7 has-text-grey mb-0">
        <span class="tag is-light"><%= exercise.body_part %></span>
        <span class="tag is-light"><%= exercise.equipment %></span>
      </p>
    </div>
    <div class="has-text-right">
      <span class="tag is-dark is-rounded">ID: <%= exercise.id %></span>
    </div>
  </div>
</div>
